$base-color: #082b48;
$section-padding: 20px 0;

//マップ型変数breakpointsを定義
$breakpoints: (
//キー:値
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
 'xl': 'screen and (max-width: 1200px)'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

body {
    color: $base-color;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $base-color;

    &:hover {
        opacity: 0.7;
    }
}

input[type="email"],[type="text"] {
    width: 600px;
    max-width: 90%;
    border: 3px solid #d8d8d8;
    font-size: 18px;
    border-radius: 999px;
    padding: 15px;
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    font-size: 20px;
    border: none;
    background-color: $base-color;
    padding: 16px 53px;
    border-radius: 4px;
    font-weight: bold;

    &:hover {
        opacity: 0.7;
    }

    @include mq() {
        font-size: 18px;
        padding: 10px 30px;
    }
}

.container {
    width: 90%;
    /*max-widthでwidthが指定したpxよりもはみ出るのを防ぐ*/
    max-width: 980px;
    /*widthにブラウザの横幅よりも小さい値を指定すると、左側による。それを防ぎ中央揃いにするため*/
    margin: auto;
}

.clear::after {
    display: block;
    content: "";
    clear: both;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;

    @include mq() {
        font-size: 25px;
    }
}

/*===============================================================
header
=================================================================*/

header {
    padding: $section-padding;
}

.header-left {
    font-size: 24px;
    float: left;

    @include mq() {
        float: none;
        text-align: center;
        margin-bottom: 8px;
    }
}



.header-title {
    font-weight: bold;
}

.header-right {
    float: right;
    @include mq() {
        float: none;
    }
}

.header-nav-item {
    float: left;
    padding-left: 50px;
    line-height: 36px;
    a {
        font-weight: bold;
    }

    @include mq() {
        padding: 0;
        width: 30%;
        margin: auto;
        text-align: center;
    }
}

.header-nav {
   @include mq(){
        display: flex;
        justify-content: space-between;
    }
}

//ドロップダウン
#toggle {
    position: relative; /*これを基準にする*/
}

.toggle-lists {
    display: none;
    padding: 5px 0;
    width: 160px;
    border: solid 0.5px rgba(0, 0, 0, 0.15);
    position: absolute; /*これを使えば要素が浮く*/
    top: 40px;
    left:0;
    background-color: #fff;
    border-radius: 4px;
}

.toggle-lists li {
    padding-left: 30px;

    a {
         display: block;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}
/*===============================================================
top
=================================================================*/

.top {
    background-image: url(../img/main-vsual-nontitle.png);
    background-size: cover;
    padding: $section-padding;
}

.top-title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 40px;

    @include mq() {
        font-size: 30px;
    }
}

.top-message {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;

    @include mq() {
        font-size: 14px
    }
}

#page-top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 60px;
    background-color: #afeddb;
    padding: 20px;
    border-radius: 4px;

    @include mq() {
        font-size: 12px;
        padding: 15px;
    }
}

/*==========================================================
about
==========================================================*/

.about {
    padding: $section-padding;
}

.about-left {
    width: 48%;
    float: left;

    @include mq() {
        float: none;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
}

.about-right {
    width: 48%;
    float: right;


    @include mq() {
        float: none;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

}


/*=============================================
course
==============================================*/

.course {
    background-color: #e3fcf4;
    padding: $section-padding;
}

.course-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    @include mq(){
        display: block;
    }
}

.course-items {
    width: 30%;
    @include mq() {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
}

// モーダルウィンドウ
.modal_overlay, .modal_content {
    display: none;
    position: fixed;
}

.modal_overlay.open, .modal_content.open {
    display: block;
}

.modal_content {
    width: 90%;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*transformって？*/
    z-index: 101;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .6;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/*==========================================
contact
===========================================*/
.contact {
    padding: $section-padding;
    text-align: center;
}

.contact-message {
    margin-bottom: 20px;
}

.btn-register {
    background-color: #ec6d64;

}

/*=================================================
footer
==================================================*/

footer {
    background-color: $base-color;
    padding: $section-padding;
    color: #fff;
}

.footer-message {
    font-size: 12px;
    float: right;
    @include mq() {
        float: none;
        font-size: 10px;
        text-align: center;
    }
}
